<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Key</key>
	<string>TDu7D1ai5bYrTpnb61PVVqlGD</string>
	<key>API Secret</key>
	<string>SDfYsiEhMkrWscWqPxCRm2oEt1IQEgniwIlKHBKgaCpKMiV55t</string>
</dict>
</plist>
